.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #0e332f;
  font-family: 'Open Sauce Sans', sans-serif;
  color: #f69494;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 36px;
  font-size: 54px;
  line-height: 60px;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 36px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 18px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

h5 {
  margin-top: 0px;
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 36px;
}

a {
  color: #f69494;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

label {
  display: block;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

blockquote {
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 72px 0px;
  border-top: 1px dotted #f69494;
  border-bottom: 1px dotted #f69494;
  border-left: 5px none #e2e2e2;
  font-size: 32px;
  line-height: 42px;
}

.toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 72px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-left: 1px solid #f69494;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #f69494;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 8vw;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.navigation-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #f69494;
  border-bottom: 1px solid #f69494;
  background-color: #0e332f;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #f69494;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link.grow-circle-on-hover {
  font-size: 24px;
}

.nav-link.grow-circle-on-hover:hover {
  -webkit-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
}

.nav-link.grow-circle-on-hover.w--current {
  border-bottom: 1px solid #f69494;
  -webkit-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  color: #f69494;
  font-style: italic;
}

.toggle-line {
  width: 44px;
  height: 1px;
  background-color: #f69494;
}

.text-block {
  color: #f69494;
  font-size: 4vw;
  text-transform: capitalize;
}

.dropdown-toggle {
  padding: 0px;
}

.dropdown {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-list.w--open {
  right: 0px;
  min-width: 200px;
  padding: 0px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #f69494;
  background-color: #0e332f;
}

.grid-halves {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-halves.large {
  min-height: 748px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.padded-content {
  padding: 36px;
}

.padded-content.border-bottom {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #f69494;
}

.padded-content.border-right {
  border-right: 1px solid #f69494;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column.right-column {
  border-right: 1px solid #f69494;
}

.text-large {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 42px;
}

.page-contents {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #f69494;
}

.text-small {
  font-size: 18px;
  line-height: 28px;
}

.text-small.underlined {
  text-decoration: underline;
}

.portrait {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.portrait.desaturate {
  opacity: 0.5;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.portrait-wrapper {
  position: relative;
}

.tags {
  display: -ms-grid;
  display: grid;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.tags.halves {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.tag {
  padding: 18px 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #f69494;
  text-decoration: none;
}

.tag.rounded {
  display: block;
  margin-bottom: 9px;
  padding: 9px 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 200px;
}

.tag-rows {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.button {
  padding: 20px 24px;
  border-style: dashed;
  border-width: 1px;
  border-color: #f69494;
  background-color: #f69494;
  color: #0e332f;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover {
  background-color: transparent;
  color: #f69494;
}

.button.sidebar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button.sidebar-button.top-button {
  border-style: solid none none;
}

.button.nav-button {
  display: none;
}

.button.outline {
  background-color: transparent;
  color: #f69494;
}

.button.outline:hover {
  background-color: #f69494;
  color: #0e332f;
}

.sidebar-button-text {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: #f69494;
  border-radius: 50%;
  color: #f69494;
}

.info-dropdown:hover {
  background-color: #f69494;
  color: #0e332f;
}

.info-dropdown-text {
  position: absolute;
}

.nav-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cursor-circle {
  position: fixed;
  left: 48vw;
  top: 50%;
  z-index: 4;
  width: 4vw;
  height: 4vw;
  border-style: dashed;
  border-width: 1px;
  border-color: #f69494;
  border-radius: 50%;
  cursor: none;
}

.loader {
  position: fixed;
  right: 36px;
  bottom: 36px;
  width: 72px;
  height: 72px;
  border-style: dashed;
  border-width: 1px;
  border-color: #f69494;
  border-radius: 50%;
}

.dropdown-link {
  padding: 18px 0px;
  border-bottom: 1px dotted #f69494;
  color: #f69494;
  font-size: 18px;
  line-height: 28px;
}

.dropdown-link.w--current {
  color: #f69494;
}

.dropdown-link.no-border {
  border-bottom-style: none;
}

.style-guide-grid {
  min-height: 748px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.style-guide-grid.border-bottom {
  border-bottom: 1px solid #f69494;
}

.style-guide-color-grid {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bg-dark {
  border-style: dotted;
  border-width: 1px;
  border-color: #f69494;
}

.style-guide-color {
  width: 100%;
  height: 144px;
  padding: 36px;
}

.style-guide-color.bg-dark {
  background-color: #0e332f;
}

.style-guide-color.bg-light {
  background-color: #f69494;
  color: #0e332f;
}

.style-guide-typography-grid {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.large-heading {
  margin-bottom: 36px;
  font-size: 54px;
  line-height: 60px;
  font-weight: 400;
}

.large-heading.sticky-heading {
  position: -webkit-sticky;
  position: sticky;
  top: 126px;
}

.grid-heading {
  margin-bottom: 0px;
}

.style-guide-buttons {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-block {
  margin-bottom: 0px;
}

.form-grid-vertical {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-input {
  margin-bottom: 0px;
  padding: 0px 0px 4px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 rgba(246, 148, 148, 0.25);
  background-color: transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #f69494;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.form-input:hover {
  border-bottom-color: #f69494;
}

.form-input:focus {
  border-bottom-color: #f69494;
}

.form-input::-webkit-input-placeholder {
  color: rgba(246, 148, 148, 0.25);
  font-weight: 400;
}

.form-input:-ms-input-placeholder {
  color: rgba(246, 148, 148, 0.25);
  font-weight: 400;
}

.form-input::-ms-input-placeholder {
  color: rgba(246, 148, 148, 0.25);
  font-weight: 400;
}

.form-input::placeholder {
  color: rgba(246, 148, 148, 0.25);
  font-weight: 400;
}

.form-input.text-area {
  min-height: 250px;
}

.form-message {
  margin-top: 18px;
  padding: 18px;
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(246, 148, 148, 0.25);
  background-color: transparent;
  font-size: 18px;
  line-height: 28px;
}

.border-top {
  border-top: 1px solid #f69494;
}

.border-bottom {
  border-bottom: 1px solid #f69494;
}

.bordered-list {
  display: -ms-grid;
  display: grid;
  margin-bottom: 0px;
  padding-left: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  list-style-type: none;
}

.bordered-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px dotted #f69494;
}

.bordered-list-item.no-border {
  padding-bottom: 0px;
  border-bottom-style: none;
}

.muted-text {
  opacity: 0.5;
}

.form-grid-halves {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.work-item {
  display: -ms-grid;
  display: grid;
  margin-bottom: -1px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #f69494;
}

.main-work-image {
  max-height: 60vh;
  opacity: 0.5;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.main-work-image:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.work-link {
  text-decoration: none;
}

.work-title {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.work-categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -9px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.category-link {
  margin-right: 9px;
  margin-bottom: 9px;
  padding: 9px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #f69494;
  border-radius: 200px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.category-link:hover {
  background-color: #f69494;
  color: #0e332f;
}

.category-link.filled {
  margin-bottom: 0px;
  background-color: #f69494;
  color: #0e332f;
}

.work-left-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-right: 1px solid #f69494;
}

.work-gallery-image {
  display: block;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.work-gallery-image-wrapper {
  border-top: 1px solid #f69494;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.work-categories-collection {
  display: inline-block;
}

.work-categories-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #f69494;
}

.posts-grid {
  display: -ms-grid;
  display: grid;
  margin-right: -1px;
  margin-bottom: -1px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.post-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 703px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-right: 1px solid #f69494;
  border-bottom: 1px solid #f69494;
  text-decoration: none;
}

.post-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-title-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.post-date {
  padding: 9px 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #f69494;
  border-radius: 200px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.post-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 523px;
  padding: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #f69494;
}

.post-heading {
  max-width: 612px;
}

.post-body-wrapper {
  max-width: 1026px;
  padding: 144px 36px;
  border-right: 1px solid #f69494;
}

.post-main-image-wrapper {
  border-bottom: 1px solid #f69494;
}

.article {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
}

.article h4 {
  margin-top: 72px;
}

.article ul {
  display: -ms-grid;
  display: grid;
  margin-top: 36px;
  margin-bottom: 36px;
  padding-left: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.changelog-list {
  display: -ms-grid;
  display: grid;
  margin-bottom: 0px;
  padding-left: 28px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.changelog-heading {
  margin-bottom: 28px;
}

.licenses-link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.licenses-image {
  opacity: 0.5;
}

.licenses-text {
  position: absolute;
}

.text-block-2 {
  font-size: 4vw;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .layout {
    max-width: 1920px;
    border-right: 1px solid #f69494;
    border-left: 1px solid #f69494;
  }
}

@media screen and (max-width: 991px) {
  blockquote {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-top: 1px solid #f69494;
    border-left-style: none;
  }

  .navigation-bar {
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-link {
    text-align: center;
  }

  .nav-link.grow-circle-on-hover:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .nav-link.grow-circle-on-hover.w--current {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dropdown-list.w--open {
    position: relative;
    margin-top: 18px;
  }

  .grid-halves {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padded-content.border-right {
    border-bottom: 1px solid #f69494;
    border-right-style: none;
  }

  .social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .column.right-column {
    border-right-style: none;
  }

  .portrait.desaturate {
    position: relative;
  }

  .button.sidebar-button {
    display: none;
  }

  .button.nav-button {
    display: block;
  }

  .nav-menu {
    border-top: 1px solid #f69494;
    background-color: #0e332f;
  }

  .menu-button {
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button.w--open {
    background-color: #0e332f;
  }

  .nav-mobile {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cursor-circle {
    display: none;
  }

  .style-guide-grid {
    min-height: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .large-heading.sticky-heading {
    position: relative;
    top: 0px;
  }

  .work-item {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .work-title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-left-column {
    border-right-style: none;
  }

  .posts-grid {
    margin-right: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .post-item {
    min-height: 500px;
    border-right-style: none;
  }

  .article h4 {
    margin-top: 54px;
  }

  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #f69494;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }

  blockquote {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 32px;
  }

  .title {
    font-weight: 400;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .large-heading {
    font-size: 48px;
    line-height: 58px;
  }

  .category-link.filled {
    margin-bottom: 9px;
  }

  .work-categories-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .article h4 {
    margin-top: 36px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  p {
    margin-bottom: 28px;
  }

  blockquote {
    font-size: 18px;
    line-height: 28px;
  }

  .title {
    padding: 24px 18px;
    font-size: 40px;
    font-weight: 400;
  }

  .title.w--current {
    padding: 18px;
  }

  .grid-halves.large {
    min-height: auto;
  }

  .padded-content {
    padding: 18px;
  }

  .text-large {
    font-size: 24px;
    line-height: 32px;
  }

  .footer {
    padding: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tags {
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tags.halves {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .tag {
    padding: 9px 18px;
  }

  .tag-rows {
    grid-row-gap: 9px;
  }

  .style-guide-color-grid {
    grid-row-gap: 18px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .style-guide-color.bg-dark {
    height: auto;
    padding: 18px;
  }

  .style-guide-color.bg-light {
    height: auto;
    padding: 18px;
  }

  .large-heading {
    font-size: 36px;
    line-height: 44px;
  }

  .style-guide-buttons {
    grid-row-gap: 18px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bordered-list {
    grid-row-gap: 18px;
  }

  .bordered-list-item {
    padding-bottom: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .work-categories.centered {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .work-categories-section {
    padding: 18px;
  }

  .post-item {
    min-height: 390px;
  }

  .article ul {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

#w-node-f2b67bd4-3bd3-09d2-564c-fe6d5b36d9b1-55c3644d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cff47335-82ee-385e-f384-8e0463726a9b-5ec36453 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_3a3e49a1-0980-4a53-3b8c-fbd7fac6b6c1-74c36454 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a1b57639-9f50-d8f3-a6f4-0c7d854c4443-13c36456 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ec7e3cb0-37d7-b097-08b1-8d97c9abbcec-39c36457 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_692c58df-1bc2-2fc1-d586-b3ac6dbd6eb5-39c36457 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-e925ce6c-0bc5-c68d-6ab3-f52061fc675f-ddc36458 {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-a1b57639-9f50-d8f3-a6f4-0c7d854c4443-13c36456 {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-e925ce6c-0bc5-c68d-6ab3-f52061fc675f-ddc36458 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}