* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
}
h1 {
    color: #111111;
    font-size: calc(2rem + 1vw);
    font-family: 'JetBrains Mono', monospace;
    font-weight: medium;
    padding: 16px;
    white-space: nowrap;
    }
h2 {
    font-size: 2rem;
    font-family: 'JetBrains Mono', monospace;
}
p {
    color: #111111;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    margin: 0;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin-bottom: 16px;
    display: inline-block;
    }

h4 {color: #f3f3f3;
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;
    font-weight:bold;
    padding: 4px;
    white-space: nowrap;
    background-blend-mode: multiply;
    }

h3 {
    font-size: 24px;
    font-family: 'JetBrains Mono', monospace;
    font-weight:bold;
    padding: 4px;
    white-space: nowrap;
    background-blend-mode: multiply;
    position: relative;  
}

h5 {color: #f3f3f3;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    padding: 4px;
    font-weight:normal;
    }

h6 {color: #111111;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 16px;
    }

        .navbar {
            position: fixed;
            width: 100%;
            background-color: #111111 !important;
            background-size: cover;
            z-index: 10;
          }
          .navbar-nav {
            margin-left: auto;
            margin-right: 0 !important;
          }
.container {
    display:block;
}
hr {
    border-color: #111111 !important;
    display: block; 
}

.colour1 {
    background-color: #74e3c9;
}
.colour2 {
    background-color: #24A87C;
}
.colour3 {
    background-color: #549494;
}
.colour4 {
    background-color: #c4c4c4;
}
.colour5 {
    background-color: #484848;
}
.colour6 {
    background-color: #ffffff;
}
.colour7 {
    background-color: #14A270;
}
.colour8 {
    background-color: #44C09B;
}

a:link {
    color:#f3f3f3;
    background-color: transparent;
    text-decoration: none;
    }

    a:visited {
    color:#f3f3f3;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: #c4c4c4 !important;
    text-decoration: none !important;
    background-color: transparent;
    }

    a:active {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
    }
