@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 0 !important;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Roboto', sans-serif;
}

.pt-sans {
  font-family: 'PT Sans Narrow', sans-serif !important;
}

.roboto {
  font-family: 'Roboto', sans-serif !important;
}


h6 {
  color: rgb(250,149,8);
}

ul {
  color: white;
}

.conclusion {
  color: #111111 !important;
}

h4 {color: #f3f3f3;
  font-size: 24px;
  font-family: 'JetBrains Mono', monospace;
  font-weight:bold;
  padding: 4px;
  white-space: normal;
  background-blend-mode: multiply;
  }

html {
  scroll-behavior: smooth;
}

.display-4 {
  background-color:rgba(250,149,8,0.8);
  }

  .lead {
    color:#f3f3f3;
    text-align: left;
    background-color:#111111;
    }

.colour1 {
  background-color: #FA9508;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}
.colour2 {
  background-color: #12332D;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}
.colour3 {
  background-color: #CC771C;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}
.colour4 {
  background-color: #010705;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}
.colour5 {
  background-color: #FFCD86;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}
.colour6 {
  background-color: #FFFEFD;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding:16px;
  text-align: center;
}

/* Navbar */
.navbar {
  background: #010101 !important;
  padding: 1rem 8rem;
  z-index: 100;
}

.nabar .navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
 color: white;
 font-size: 1.1rem;
 padding: 0 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active {
color: #FA9508;
}

#navbarSupportedContent > button {
background: #FA9508;
font-weight: 600;
padding: 0.4rem 1.4rem;
border-radius: 32px;
color: #010101;
border-color: #010101 !important;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus {
      outline: none !important;
}


/* main */

.mid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mid img {
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top:50%;
left:50%;
transform: translate( -50%, -50%);
}

.embed-responsive {
  height: calc(100vh - 8vh) !important;
}

.hero {
  position: relative;
}

.mid .hero p {
width: 55%;
font-size: 1.1rem;
letter-spacing: 0.2rem;
padding-bottom: 1.1rem;
}

.mid .hero a {
background: #FA9508;
font-weight: 600;
padding: 0.6rem 1rem;
border-radius: 32px;
}

.mid .hero a:hover {
background: white;
text-decoration: none;
}


/* about */

.about {
background:#f3f3f3 !important;
}

.about .text {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: auto;
}

.about .text h6 {
  color: #FA9508;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}

.about .text h2 {
color: #010101;
font-weight: 700;
font-size: 2.7rem;
}

.about .text p {
color: #010101;
font-weight: 400;
font-size: 1.1rem;
letter-spacing: 0.5px;
}

.about .text a {
background: #FA9508;
font-weight: 500;
padding: 0.6rem 1rem;
border-radius: 32px;
text-decoration: none;
color: #010101;
}

.about .text a:hover {
background: white;
text-decoration: none;
}


/* Map */

.black-box {
  background: #010101 !important;
  }
  
  .black-box .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  }
  
  .black-box .text h6 {
    color: #FA9508;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
  }
  
  .black-box .text h2 {
  color: white;
  font-weight: 700;
  font-size: 2.7rem;
  }
  
  .black-box .text p {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  }
  
  .black-box .text a {
  background: #FA9508;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 32px;
  text-decoration: none;
  color:#010101;
  }
  
  .black-box .text a:hover {
  background: white;
  text-decoration: none;
  }


/* Cards */
.photos {
  background: #010101;
}

.photos .one {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.one:hover {
  transform: scale(1.1);
}

/* tutorials */

.about {
  background: white;
  }
  
  .tutorials .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  }
  
  .tutorials .text h6 {
    color: #FA9508;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
  }
  
  .tutorials .text h2 {
  color: #010101;
  font-weight: 700;
  font-size: 2.7rem;
  }
  
  .tutorials .text p {
  color: #010101;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  }
  
  .tutorials .text a {
  background: #FA9508;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 32px;
  text-decoration: none;
  color: #010101;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .tutorials .text a:hover {
  background: white;
  text-decoration: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }


@media screen and (max-width: 988px){
  .navbar {
    padding: 1rem;
  }

  #navbarSupportedContent > ul {
    padding-left: 0.8rem;

  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 1rem 0;
   }

   .mid .hero h2 {
    font-size: 2.5rem;
    }

   .mid .hero p {
    font-size: 1rem;
    }
    
    .mid .hero a {
      font-size: 0.9rem;
    }
}